<%- include header %>
<form method="post" enctype="multipart/form-data"> <br/>
    用户名*： <input type="text" name="name"/>（唯一）<br />
    密码*： <input type="password" name="password"/><br />
    确认密码*： <input type="password" name="password-repeat"/><br />
    邮箱*：<input type="email" name="email"/><br /><br />
    个人简介*：（支持 Markdown 格式）<textarea name="intro" rows="3" cols="90"></textarea><br />
    上传头像*：<input type="file" name="pic"/><br /><br />
    <input type="submit" value="注  册"/>
</form>
<%- include footer %>